literature/
plots/
figs/
__pycache__/
V_grad_penalty_plots/
animation*
.idea/
*.npy
*.swp
*.png
venv/
tmp/
tmp_euler/
latex/
.aim/
wandb/
slurm-*.out
output.mp4
figures_*
run_*
euler_runs/
report_figs/
local_runs/
plot_data/
